In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import datetime

### 1. Load Data

1.1 Load Ratings data

In [2]:
rating_df = pd.read_csv('data/ratings.csv')
rating_df.head(2)

   userId  movieId  rating  timestamp
0       1       17     4.0  944249077
1       1       25     1.0  944250228

In [3]:
# As the timestamp is Unix format, we're creating a new column for reformatted date
rating_df['date'] = pd.to_datetime(rating_df['timestamp'], unit='s')

In [4]:
rating_df['year'] = rating_df['date'].dt.year
print(rating_df['year'].unique)

<bound method Series.unique of 0           1999
1           1999
2           1999
3           1999
4           1999
            ...
32000199    2011
32000200    2010
32000201    2011
32000202    2012
32000203    2012
Name: year, Length: 32000204, dtype: int64>

In [21]:
# Filtering last 5 years rating
current_year = datetime.datetime.now().year
rating_df_filtered = rating_df[rating_df['year'] >= current_year-3]
rating_df_filtered.head(2)

      userId  movieId  rating   timestamp                date  year
2180      22      316     3.0  1614575253 2021-03-01 05:07:33  2021
2184      22      745     5.0  1668909890 2022-11-20 02:04:50  2022

1.2 Load Movies data

In [ ]:
movie_df = pd.read_csv('data/movies.csv')
movie_df.head(2)

## 2. Exploratory Data Analysis

### 2.1 Rating Data

In [ ]:
n_ratings = len(ratings)
n_movies = rating_df['movieId'].nunique()
n_users = rating_df['userId'].nunique()

print(f'Number of ratings:', n_ratings)
print(f'Number of movies:', n_movies)
print(f'Number of users:', n_users)


print(f'Average number ratings per user:', round(n_ratings/n_users))
print(f'Average number of ratings per movie:', round(n_ratings/n_movies))

### 2.1 Rating Data

In [ ]:
sns.countplot(x='rating', data=ratings)
plt.title('Distribution of Movie Ratings', fontsize=10)
plt.show()

In [ ]:
movies_ratings = ratings.merge(movies, on='movieId')
print ('Most rated movies:')
movies_ratings ['title'].value_counts()[0:10]

In [ ]:
mean_ratings = ratings.groupby('movieId')['rating'].agg(['count','mean'])
mean_ratings.head()

### 2.2 Movies Data

In [ ]:
movie_df.head(2)